node_modules
.pnp
.pnp.js

coverage
.next/
out/
build
dist
.vercel

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env*.local
*.db
*.db-journal
prisma/migrations
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
Thumbs.db
*.pem
.env.local
